/* Copyright 2018 Onestein
 * License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl). */

header .navbar-fixed-top {
    top: 34px;
}

.dropdown-menu .colorpicker {
    display: block;
}        