/* Copyright 2018 Onestein
 * License AGPL-3.0 or later (https://www.gnu.org/licenses/agpl). */

.navbar-fixed-top {
    top: auto;
    z-index: 1000;
}

.main-fixed-top {
    position: inherit;
}

.navbar-collapse > .navbar-center {
    float: none;
    display: inline-block;
    vertical-align: top;
}
