<section class="oe_container">
    <div class="oe_row oe_spaced">
	      <div class="oe_span12">
	          <h2 class="oe_slogan">Sync restaurant orders</h2>
	          <h3 class="oe_slogan">Staff get order details immediately after waiter taps on tablet</h3>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="John.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                John is a waiter. He serves new restaurant customer. He made few clicks on his iPad and switched to other customers while dishes are prepared at the kitchen...
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="Alice.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                Dishes were fine and customer decided to order something else. John is far from the table and another waiter Alice added item to the order...
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="Bob.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                All orders are passed through the cashier Bob. He registers payment on his terminal.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <p class="oe_mt32">
		<div style="padding:8px;font-weight: 300; font-size: 20px;">
		  <i class="fa fa-hand-o-right"></i><b> Key features: </b>
		  <ul class="list-unstyled">
			<li>
			  <i class="fa fa-check-square-o text-primary"></i>
			  Sync floors
			</li>
			<li>
			  <i class="fa fa-check-square-o text-primary"></i>
			  Sync tables
			</li>
			<li>
			  <i class="fa fa-check-square-o text-primary"></i>
			  Sync orders
			</li>
			<li>
			  <i class="fa fa-check-square-o text-primary"></i>
			  Sync products
			</li>
			<li>
			  <i class="fa fa-check-square-o text-primary"></i>
			  Sync notes
			</li>
			<li>
			  <i class="fa fa-check-square-o text-primary"></i>
			  Sync guests
			</li>
			<li>
			  <i class="fa fa-check-square-o text-primary"></i>
			  Sync customers
			</li>
			<li>
			  <i class="fa fa-check-square-o text-primary"></i>
			  Sync orders via main or separate (e.g. local) server
			</li>
			<li>
			  <i class="fa fa-check-square-o text-primary"></i>
			  Work in offline mode
			</li>
		  </ul>
		</div>
      </p>
    </div>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <p class="oe_mt32">
	<div style="padding:8px;font-weight: 300; font-size: 20px;">
	  The module is compatible with our following modules:
	  <ul class="list-unstyled" style="padding:6px;">
	    <li>
	      <i class="fa fa-thumbs-o-up"></i>
	      <a href="https://www.odoo.com/apps/modules/10.0/pos_mobile_restaurant" target="_blank">POS Mobile UI for Waiters</a>
	    </li>
	    <li>
	      <i class="fa fa-thumbs-o-up"></i>
	      <a href="https://www.odoo.com/apps/modules/10.0/pos_order_cancel_restaurant" target="_blank">Analyzing of refunds in Restaurant</a>
	    </li>
	    <li>
	      <i class="fa fa-thumbs-o-up"></i>
	      <a href="https://www.odoo.com/apps/modules/10.0/pos_order_note" target="_blank">POS Advanced Order Notes</a>
	    </li>
	    <li>
	      <i class="fa fa-thumbs-o-up"></i>
	      <a href="https://www.odoo.com/apps/modules/10.0/pos_product_category_discount" target="_blank">POS Discount Programs</a>
	    </li>
	     <li>
	      <i class="fa fa-thumbs-o-up"></i>
	      <a href="https://www.odoo.com/apps/modules/10.0/pos_orderline_absolute_discount" target="_blank">Absolute Discounts in POS</a>
	     </li>
	    <li>
	      <i class="fa fa-thumbs-o-up"></i>
	      <a href="https://www.odoo.com/apps/modules/10.0/pos_order_printer_product" target="_blank">Print certain products on Order Printers</a>
	    </li>
	    <li>
	      <i class="fa fa-thumbs-o-up"></i>
	      <a href="https://www.odoo.com/apps/modules/10.0/pos_print_method" target="_blank">POS Print Method</a>
	    </li>
	    <li>
	      <i class="fa fa-thumbs-o-up"></i>
	      <a href="https://www.odoo.com/apps/modules/10.0/pos_debt_notebook" target="_blank">POS Debt &amp; Credit Notebook</a>
	    </li>
	     <li>
	      <i class="fa fa-thumbs-o-up"></i>
	      <a href="https://www.odoo.com/apps/modules/10.0/pos_invoice_pay" target="_blank">Pay Sale Orders &amp; Invoices over POS</a>
	    </li>
	  </ul>
	</div>
      </p>
    </div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
	<h2 class="oe_slogan" style="color:#875A7B;">Free Support</h2>
	<h3 class="oe_slogan">You will get free support and assistance in case of any issues</h3>
  </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:apps@itpp.dev">email</a> or fill out <a href="https://www.it-projects.info/page/website.contactus " target="_blank">request form</a></p>
            <ul>
                <li><a href="mailto:apps@itpp.dev">apps@itpp.dev <i class="fa fa-envelope-o"></i></a></li>
                <li><a href="https://www.it-projects.info/page/website.contactus " target="_blank">https://www.it-projects.info/page/website.contactus <i class="fa fa-list-alt"></i></a></li>
                <li><a href="https://m.me/itprojectsllc" target="_blank">https://m.me/itprojectsllc <i class="fa fa-facebook-square"></i></a></li>
                <li>skype@it-projects.info <i class="fa fa-skype"></i></li>
            </ul>
        </div>
    </div>
</section>
