<section class="oe_container">
  <div class="oe_row oe_spaced">
	<div class="oe_span12">
	  <h2 class="oe_slogan">Sync POS orders</h2>
	  <h3 class="oe_slogan">Create order in POS1, expand it in POS2, get payment in POS3.</h3>
    </div>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
	<div class="oe_span12">
	  <h2>Usage</h2>
    <blockquote style="font-size:90%">
		    Note. To use the module, you need to be sure that your odoo instance support longpolling, i.e. Instant Messaging works.
    </blockquote>
    <p class="oe_mt32">
	      Open "Point of Sale &rarr; Configuration &rarr; Point of Sales" and create or open some Point of Sale record.
	  </p>
	  <div class="oe_demo oe_picture oe_screenshot">
		<img src="create-pos.png?3"/>
	  </div>
	</div>

	<div class="oe_span12">
	  <p class="oe_mt32">
	    Set Multi-session value (create new one if need) and click the Save button to save your changes. Set the same Multi-session for other "Point of Sale", which should be synced.
	  </p>
	  <div class="oe_demo oe_picture oe_screenshot">
		<img src="multi-session.png"/>
	  </div>
	</div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
	<div class="oe_span12">
	  <p class="oe_mt32">
	    Start POS session on all POSes:
		<ul>
		  <li>login as user1 on computer1 &rArr; start session on POS1</li>
		  <li>login as user2 on computer2 &rArr; start session on POS2</li>
		  <li>etc</li>
		</ul>
	  </p>
	  <div class="oe_demo oe_picture oe_screenshot">
		<img src="session1.png?1"/>
	  </div>
	  <div class="oe_demo oe_picture oe_screenshot">
		<img src="session2.png?1"/>
	  </div>
	</div>
  </div>
</section>

<section class="oe_container">
 <div class="oe_row oe_spaced">
	<div class="oe_span12">
	  <p class="oe_mt32">
		When you start to create order in POS1(user1) session, you can see how items are displayed in the synced session POS2(user2). Moreover, items added at the corresponding POS are marked as "added by POS1", "added by POS2" and etc.
	  </p>
	  <div class="oe_demo oe_picture oe_screenshot">
		<img src="order1.png?2">
	  </div>
	  <p class="oe_mt32">The synced POS2(user2) session will be displayed as follows:
	  <div class="oe_demo oe_picture oe_screenshot">
		<img src="order2.png?1">
	  </div>
	</div>
 </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:apps@itpp.dev">email</a> or fill out <a href="https://www.it-projects.info/page/website.contactus " target="_blank">request form</a></p>
            <ul>
                <li><a href="mailto:apps@itpp.dev">apps@itpp.dev <i class="fa fa-envelope-o"></i></a></li>
                <li><a href="https://www.it-projects.info/page/website.contactus " target="_blank">
                    https://www.it-projects.info/page/website.contactus <i class="fa fa-list-alt"></i></a></li>
                <li><a href="https://m.me/itprojectsllc" target="_blank">https://m.me/itprojectsllc <i class="fa fa-facebook-square"></i></a></li>
                <li>skype@it-projects.info <i class="fa fa-skype"></i></li>
            </ul>
        </div>
    </div>
</section>
