<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">'in4...' - Basis</h2>
        <h3 class="oe_slogan">Stellt die Basis f&uuml;r alle weiteren 'Other'-Module zur Verf&uuml;gung</h3>
        <div class="col-md-4 text-center">
            <h4 class="oe_mt16 oe_mb8">
                <b>&Uuml;bersetzungen</b>
            </h4>
            <p>Bezeichnung und Zusammenfassung aller 'Other'-Module werden &uuml;bersetzt.</p>
        </div>
    </div>
</section>
