<section class="oe_container">
  <div class="oe_row oe_spaced">
	<div class="oe_span12">
	  <h2 class="oe_slogan" style="color:#875A7B;">POS Disable Payment</h2>
	  <h3 class="oe_slogan">Disable payments in POS</h3>
	  <p class="oe_mt32">
		The module allows to disable payments in POS and in addition set up the following options:
		<ul>
		  <li>Disable create order line</li>
		  <li>Disable removing non-empty order</li>
		  <li>Disable discount button</li>
		  <li>Disable edit price button</li>
		  <li>Disable decrease order line</li>
		  <li>Disable removing order line</li>
		  <li>Disable refunds</li>
		  <li>Disable customer selection</li>
		</ul>
		This could be useful when using POS only to get price of item by barcode.
		Also it could help to solve the problem related to the theft of money by staff members (e.g., the situation is possible when employee can print the bill, take money, then delete all lines and restart a new order on the same order).
	  </p>
	  <p>
		To use go to Settings &rarr; Users section, open user edit form and move to "Point of Sale" tab.
	  </p>
	  <div class="oe_screenshot" align="center">
		<img style="max-width: 80%" src="user_pos_access_new.png?1"/>
      </div>
	</div>
  </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
	<h2 class="oe_slogan" style="color:#875A7B;">Free Support</h2>
	<h3 class="oe_slogan">You will get free support and assistance in case of any issues</h3>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <h2>Need our service?</h2>
      <p class="oe_mt32">Contact us by <a href="mailto:apps@itpp.dev">email</a> or fill out <a href="https://www.it-projects.info/page/website.contactus " target="_blank">request form</a></p>
      <ul>
        <li><a href="mailto:apps@itpp.dev">apps@itpp.dev <i class="fa fa-envelope-o"></i></a></li>
        <li><a href="https://www.it-projects.info/page/website.contactus " target="_blank">https://www.it-projects.info/page/website.contactus <i class="fa fa-list-alt"></i></a></li>
		<li><a href="https://m.me/itprojectsllc" target="_blank">https://m.me/itprojectsllc <i class="fa fa-facebook-square"></i></a></li>
		<li>skype@it-projects.info <i class="fa fa-skype"></i></li>
      </ul>
    </div>
  </div>
</section>
