<section class="container">
    <div class="row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">'in4...' - Base</h2>
        <h3 class="oe_slogan">Base for all 'Other'-Moduls</h3>
        <div class="col-md-4 text-center">
            <h4 class="oe_mt16 oe_mb8">
                <b>Translations</b>
            </h4>
            <p>...</p>
        </div>
    </div>
</section>
